$fontSize: 18px;

//primaryColors
$primaryOne: hsl(180, 66%, 49%);
$primaryTwo: hsl(257, 27%, 26%);


//secondaryColors
$secondaryOne: hsl(0, 87%, 67%);


//neutralColors
$neutralOne: hsl(0, 0%, 75%);
$neutralTwo:  hsl(257, 7%, 63%);
$neutralThree: hsl(255, 11%, 22%);
$neutralFour: hsl(260, 8%, 14%);